.form-width {
  max-width: "100%";
}
.inputFields {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  margin-top: 20;
  float: right;
}
.textArea {
  width: 100%;
  resize: none;
  min-height: 100px;
}
